.container {
  width:100%;
 max-width: 900px; 
  margin: auto;
}

.container p {
  line-height: 1.8;
  font-size: 1.05rem;
  
}

.section {
  margin: 60px auto;
  padding: 60px;
  background-color: #F4ECE1;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.06);
}

/* Small Phones (≤480px) */
@media (max-width: 480px) {
  .section {
    margin: 40px 0;
    padding: 40px 8vw;
  }

  .container p {
    font-size: 0.95rem;
    line-height: 1.6;
  }
}

/* Medium Phones (481px–767px) */
@media (min-width: 481px) and (max-width: 767px) {
  .section {
    margin: 60px 0;
    padding: 60px 10vw;
  }

  .container p {
    font-size: 1rem;
    line-height: 1.7;
  }
}

/* Tablets (768px–1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .section {
    margin: 80px 0;
    padding: 50px 10vw;
  }

  .container p {
    font-size: 1.05rem;
    line-height: 1.8;
  }
}

/* Small Laptops (1025px–1280px) */
@media (min-width: 1025px) and (max-width: 1280px) {
  .section {
    margin: 90px 0;
    padding: 60px 60px;
  }
}


