.section {
  color: #2E2E2E;
  text-align: center;
  margin: 80px auto;
  padding: 60px;
  background: none;
  max-width: 100%;
  box-sizing: border-box;
}

.section img {
  width:100%;
  max-width:300px ;
  border: 2px #CBA135 solid;
  box-shadow: 0 3px 4px #f7ce66;
  transition: all 1s ease-in;
}

.section img:hover {
  transform: scale(1.05);
  border-radius: 40%;
}

.section p {
  margin: 40px auto;
  font-size: 1.05rem;
  line-height: 1.8;
  max-width: 850px;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .section {
    margin-top:400px;
    padding: 40px 20px;
  }

  .section img {
    width: 80%;
    margin: 80px auto;
  }

  .section p {
    font-size: 0.95rem;
    margin: 30px 0;
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  .section {
    margin-top:300px;
    padding: 30px 15px;
    margin-bottom:50px;
  }

  .section p {
    font-size: 0.9rem;
    line-height: 1.6;
  }
   .section img {
    width: 80%;
    margin: 80px auto;
  }
}

